div {
	border: 1px solid #5B5656;
	background:#171616;
	color: #F1E8E8;
	padding: 25px;
}
header{
	font-size: 100px;
	margin: auto;
	padding: 25px;
	text-align: center;
}
::selection{
	color: white;
	background: black;
}
.Nav{
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.Nav a{
	color: white;
	display: flex;
	text-align: center;
	align-items: center;
	text-decoration: none;
	padding: 5px;
	margin-left: 5px;
	height: 100%;
}
.Nav a:hover{
	color: black;
	background-color: white;
}
body section .img:hover{
	transform: scale(1.1);
	opacity: 0.3;
}
.rows {
	display: flex;
	margin: 20px;
	justify-content: center;
	
}
.contact{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}
.conta {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: inherit;
	z-index: 1;
}
.contact:hover .conta {
	visibility: visible;
}
.cl_co{
    display: flex;
	flex-direction: row;
    justify-content: center;
	flex-wrap: wrap;
    align-items: flex-start;
    flex-flow: wrap;
}
.cl{
	width: 900px;
	margin: 20px;
}
.cl:first-child{
	order: 1;
}
.cl:nth-child(2){
	order: 2;
}
.cl_p{
	 display: flex;
	flex-direction: row;
    justify-content: flex-start;
	flex-wrap: wrap;
    align-items: flex-start;
    flex-flow: wrap;
}
.cl_pi{
	width: 220px;
	margin: 20px;
}
.cl_pi:first-child{
	order: 1;
}
.cl_pi:nth-child(2){
	order: 2;
}
.cl_pi:nth-child(3){
	order: 3;
}
.cl_pi:nth-child(4){
	order: 4
}
.cl_pi:nth-child(5){
	order: 5
}
.cl_pi:nth-child(6){
	order: 6;
}
.cl_pi:last-child{
	order: 7;
}
.con{
	 display: flex;
	flex-direction: row;
    justify-content: flex-start;
	flex-wrap: wrap;
    align-items: flex-start;
    flex-flow: wrap;
}
.cont{
	width: 900px;
	margin: 20px;
}
.cont:first-child{
	order: 1;
}
.cont:last-child{
	order: 2;
}
.foot {
	margin-top: 20px;
	text-align: center;
}
.foot a:hover{
	text-decoration-line: underline;
}
.blo{
	display: flex;
	flex-direction: row;
    justify-content: center;
	flex-wrap: wrap;
    align-items: flex-start;
    flex-flow: wrap;
}


